@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");


body {
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top right, #FFE145, #AF37FF);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}