.container {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    color: white;
}