.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(0, 110, 110, 40);
    color:rgba(255, 156, 109, 100);
    font-size: 1rem;
}

.text {
    margin: 0 auto;
}