.content {
    width: 100vw;
    background-color: rgba(0, 110, 110, 40);
}

.wrapper {
    width: 90vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #3e363f;
}